:root {
  --primary: #F9F7F7;
  --secondary: #DBE2EF;
  --light-blue: #3F72AF;
  --dark-blue: #112D4E;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  font-weight: 400;
  font-family:  'Oswald', sans-serif;
}
